---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {SHOW_BUY_BUTTON} from "astro:env/server"
import AmazonLogo from "../../components/AmazonLogo.astro"
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export const getStaticPaths = async() => {
  const books = await getCollection("books")

  const paths = books.map(book => ({
    params: { id: book.slug },
    props: {book}
  }))

  return paths
}

const { book } = Astro.props
const { data: {title, author, img, readtime, description, buy}, slug } = book
const {Content} = await render(book)

// Indicamos que la p치gina tiene que seguir siendo est치tica, por tanto, se prerenderiza en build time
export const prerender = true
---

<Layout title={`${title} - Dev Books`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <img 
        transition:name={`img-${slug}`}
        class="rounded w-72 h-auto" 
        src={`/${img}`} 
        alt={title}
      />

      <!-- Esta isla es din치mica. Va a ser incrustada en el DOM -->
      <BookScore server:defer>
        <span slot="fallback" class="text-xs opacity-70">Cargando puntuaci칩n...</span>
      </BookScore>

      {SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy}/>}
    </aside>

    <main class="max-w-3xl">
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        <Content/>
      </div>
    </main>
  </div>

</Layout>